<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/kapcsolat.css}" />
    <title>Kapcsolat</title>
</head>
<body>
<header>
    <div th:insert="menu"></div>
</header>
<article>
<span class="lep" sec:authorize="isAnonymous()">
<div class="lep">Üzenjen nekünk!</div>
</span>
<span class="lep" sec:authorize="isAuthenticated()">
<div class="lep"><span sec:authentication="principal.username">User</span>, itt küldhetsz nekünk üzenetet!</div>
</span>
<form action="#" th:action="@{/uzenet_feldolgoz}" th:object="${mess}" method="post">
    <input type="text" th:field="*{content}" placeholder="Üzenet" class="kapcs" />
    <!-- <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p> -->
    <input type="submit" value="Küldés"/>
</form>
</article>
<div th:insert="footer"></div>
</body>
</html>