<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" th:href="@{/css/menu.css}" />
</head>
<div>
     <div class="cimsor">
        <img id=logo th:src="@{/images/logo.png}" alt="Logo">
        <h1 id =cim>Sweets Cukrászda</h1>
    </div>
     <div class=navline>
        <span>
            <a class= navbar th:href="@{/}">Főoldal</a>
            <a class= navbar th:href="@{/sutik}">Sütik</a>
            <a class= navbar th:href="@{/kapcsolat}">Kapcsolat</a>
        </span>
         <span sec:authorize="isAuthenticated()">
             <a class=reg th:href="@{/logout}">Kijelentkezés</a>
             <h3>Szia, <span sec:authentication="principal.username">User</span>!</h3>
         </span>

        <span sec:authorize="isAnonymous()">
            <a class=reg th:href="@{/login}">Belépés</a>
            <a class=reg th:href="@{/regisztral}">Regisztráció</a>
        </span>

         <span sec:authorize="hasRole('ADMIN')">
            <a class=navbar th:href="@{/admin/uzenetek}">Admin</a>
        </span>
    </div>
</div>